<% provide(:title, "About") %>

<div class="container center div-1">
<h1>About Us</h1>

<%= link_to image_tag("jer-and-chris.jpg", alt: "Jer and Chris") %>

<br /><br />

<p>Our names are Chris and Jeremy. We are two brothers (44 and 48) who started running in 7th grade when we both joined the cross country team. We ran cross country and track in high school and college and continued running off and on ever since.</p>

<p>There's a lot of information on the internet about running. It can be nosiy and confusing. We started this site because we want to help people become runners, and help runners become better runners.</p>

<p>Life is a jounrey. There's a lot of information about all the health benefits of exercising regularly. You can find all of that elsewhere. If you have decided to make running part of your life, or at least attempting too, we want to help you become a student of your chosen sport.</p>

<p>We talk to runners about running. This site is no nonsense and no BS; only running. Just a couple of runners that invite you to join us.</p>

<%= link_to "More about Chris", chris_path, class: "btn btn-lg btn-primary" %>
<%= link_to "More about Jer", jer_path, class: "btn btn-lg btn-primary" %>

<br /><br /><br />

</div>





