<% provide(:title, "About Chris") %>
<h1>Chris</h1>
<h1>Young Man Marathon PR: 2:24:03</h1>
<h1>Old Man Marathon PR: 2:38:18</h1>

<div class="center container">

  <%= link_to image_tag("chris15kfinish.png", alt: "Jer", width: 400) %>
  <p><strong>A Guy at the finish line.</strong></p>

  <p>Chris lives in Seattle, WA. He enjoys incorporating data and statistics with adaptive feedback into developing training plans.</p>

  <p><i>My story:</i></p>
<p>I was in the shape of my (recent) adult life: mileage was pushing 90 per week, training runs were going as planned, my weight was cooperating, and I had somehow found a pair of the new Nike Next% racing shoes. On March 1st of this year I ran a tune-up race, the Seattle Hot Chocolate 15k, mostly to test how my fitness was going for the upcoming Boston Marathon in six weeks. <a href="https://raceday.enmotive.com/?&_ga=2.35117736.809813802.1601258701-2027151642.1601258701#/events/2020-allstate-hot-chocolate-15k-5k-seattle/results" target="_blank">I was able to win</a>, even a as Master, wow! My time converted to something around 2:39 at Boston.</p>
<p>Then COVID hits.</p>
<p>Now it's late September. I'm out of shape. I've gained 13 pounds. And it's time to start running again. I've been running on and off, but time to get back at it, time to get training again. I started this site to document and share this journey and encourage others to join and do the same.</p>


  <div class="container">
    <h2>Marathons run:</h2>
      <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>April, 2013</p></div>
      <div class="col-sm-2"><p>Boston</p></div>
      <div class="col-sm-2"><p>2:41:14</p></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>April, 2014</p></div>
      <div class="col-sm-2"><p>Boston</p></div>
      <div class="col-sm-2"><p>2:38:18</p></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>April 16, 2018</p></div>
      <div class="col-sm-2"><p>Boston</p></div>
      <div class="col-sm-2"><p>2:52:48</p></div>
      <div class="col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-2"><p>September, 2019</p></div>
      <div class="col-sm-2"><p>Skagit Flats</p></div>
      <div class="col-sm-2"><p>2:50:07</p></div>
      <div class="col-sm-3"></div>
    </div>
  </div>

  <br /><br />


</div>