<div class="center jumbotron jumbotron-fluid">
  <h1>American Runner</h1>
  <h2>"To give less than your best is to sacrifice The Gift." - 
      Steve Prefontaine</h2>

  <%= link_to "Sign up and join us!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

  <%= link_to image_tag("logo.jpg", width: 40, alt: "American Runner logo"), root_path %>



