<footer class="footer">
  <small>
    The <%= link_to "American Runner Marathon Trainer", root_path %>
    by <a href="https://github.com/kewpiedoll/", target="_blank">kewpiedoll</a>
  </small>
  <nav>
    <ul>
      <li><small><%= link_to "Help",     help_path %></small></li>
      <li><small><%= link_to "Contact",  contact_path %></small></li>
      <li><small><%= link_to "Buy Me a Coffee?", "https://ko-fi.com/kewpiedoll", target: "_blank" %></small></li>
    </ul>
  </nav>
</footer>